In [45]:
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt

In [121]:
#NOTE: due to the PNS file size (~400mb)

# Read PNS data and select variables of interest
pns = pd.read_csv('data/pns2019.csv', usecols=['B001','V00291','Q092', 'Q09201', 'Q09202',
                                               'N012','N016','N010','N011','N014',
                                               'N017','N013','N015','N018', 'C008']
                                               )
pns

,B001,C008,N010,N011,N012,N013,N014,N015,N016,N017,N018,Q092,Q09201,Q09202,V00291
0,1.0,55.0,4.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,3.0,368.875166
1,1.0,69.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293721,2.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293722,2.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293723,2.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293724,2.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
# IBGE projection
total_population_2019 = 210147125
adult_population_2019 = 156387668

In [123]:
# Selecting individuals of legal age who are registered with the APS (Primary Health Care) 
pns = pns.query('B001 == 1 & C008 >= 18')
pns

,B001,C008,N010,N011,N012,N013,N014,N015,N016,N017,N018,Q092,Q09201,Q09202,V00291
0,1.0,55.0,4.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,3.0,368.875166
1,1.0,69.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1.0,19.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,508.107083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293609,1.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293610,1.0,77.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1211.288492
293621,1.0,55.0,4.0,4.0,4.0,1.0,1.0,1.0,4.0,2.0,1.0,2.0,NaN,NaN,382.920095
293713,1.0,32.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,NaN,NaN,1457.417541
293714,1.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
# # of adults registered with APS
registered_adults = sum(pns['V00291'].dropna())
registered_adults

97932315.45865382

In [125]:
# Filtering people who do not take medication for depression and do not have a medical prescription nor a diagnosis

pns = pns.query('Q092 == 2 & Q09202 != 1 & Q09201 != 1')
pns

,B001,C008,N010,N011,N012,N013,N014,N015,N016,N017,N018,Q092,Q09201,Q09202,V00291
9,1.0,19.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,508.107083
10,1.0,45.0,1.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,614.791943
18,1.0,58.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,122.958389
19,1.0,28.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,121.284625
21,1.0,81.0,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,117.758255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293578,1.0,33.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,971.965740
293580,1.0,35.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,1457.948610
293596,1.0,30.0,1.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,971.965740
293621,1.0,55.0,4.0,4.0,4.0,1.0,1.0,1.0,4.0,2.0,1.0,2.0,NaN,NaN,382.920095
293713,1.0,32.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,NaN,NaN,1457.417541

In [126]:
# Removing rows with no records related to mental health
phq_columns = ['N012','N016','N010','N011','N014','N017','N013','N015','N018']
pns = pns.dropna(subset=phq_columns, how = 'all')
pns

,B001,C008,N010,N011,N012,N013,N014,N015,N016,N017,N018,Q092,Q09201,Q09202,V00291
9,1.0,19.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,508.107083
10,1.0,45.0,1.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,614.791943
18,1.0,58.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,122.958389
19,1.0,28.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,121.284625
21,1.0,81.0,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,117.758255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293578,1.0,33.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,971.965740
293580,1.0,35.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,1457.948610
293596,1.0,30.0,1.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,971.965740
293621,1.0,55.0,4.0,4.0,4.0,1.0,1.0,1.0,4.0,2.0,1.0,2.0,NaN,NaN,382.920095
293713,1.0,32.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,NaN,NaN,1457.417541

In [127]:
# PHQ-9 score calculation and classification (PHQ >= 10)
# Transforming PNS mental health variables scale (1-4) to PHQ-9 scale (0-3)
pns['total_phq'] = (pns[phq_columns]-1).sum(axis=1)
pns['target'] = (pns['total_phq'] >= 10).astype(int)
pns

,B001,C008,N010,N011,N012,N013,N014,N015,N016,N017,N018,Q092,Q09201,Q09202,V00291,total_phq,target
9,1.0,19.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,508.107083,2.0,0
10,1.0,45.0,1.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,614.791943,3.0,0
18,1.0,58.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,122.958389,0.0,0
19,1.0,28.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,121.284625,0.0,0
21,1.0,81.0,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,117.758255,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293578,1.0,33.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,971.965740,0.0,0
293580,1.0,35.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,1457.948610,0.0,0
293596,1.0,30.0,1.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN,971.965740,3.0,0
293621,1.0,55.0,4.0,4.0,4.0,1.0,1.0,1.0,4.0,2.0,1.0,2.0,NaN,NaN,382.920095,13.0,1
293713,1.0,32.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,NaN,NaN,1457.417541,1.0,0

In [128]:
# Number of people with depression symptoms
total_depressivos = sum(pns['V00291'] * pns['target'])

# Number of people in the potential audience (adults within the APS)
total_amostra = sum(pns['V00291'])

In [129]:
# Percent of individuals in the audience with PHQ-9 higher than 9

print(f"""
Total population in 2020: {total_population_2019:,}
Adult population in 2020: {adult_population_2019:,} ({(adult_population_2019/total_population_2019):.2%} of total population)
Adults registered with APS: {round(registered_adults):,} ({(registered_adults/total_population_2019):.2%} of total population)
Number of adults in APS with depression symptoms, undiagnosed (PHQ >= 10): {round(total_depressivos):,} ({(total_depressivos/total_population_2019):.2%} of total population)
""")

Total population in 2020: 210,147,125
Adult population in 2020: 156,387,668 (74.42% of total population)
Adults registered with APS: 97,932,315 (46.60% of total population)
Number of adults in APS with depression symptoms, undiagnosed (PHQ >= 10): 6,910,419 (3.29% of total population)

In [130]:
#Proportion of individuals in APS with registered phones
prop_cadastrados = 24/100

## Error rates
numero_invalido = 2.6/100
numero_trocado = 3.6/100

In [131]:
# Estimates of adults with depressions symptoms that could be reached by the program, given registered phones rates and sending errors
potentially_reached_adults = total_depressivos * prop_cadastrados * (1-numero_invalido+numero_trocado)

f"Potentially reached adults: {round(potentially_reached_adults):,} ({(potentially_reached_adults/total_population_2019):.2%} of total population)"

'Potentially reached adults: 1,675,086 (0.80% of total population)'

In [132]:
# Proportion of individuals who, upon receiving a message, change their behavior (possibly going to the health unit to get the medication)
# Estimates of other types of health conditions were used, as described in the report

baseline_citopatologico = (40/1514)
rr_citopatologico = (47/1514)/baseline_citopatologico

baseline_cronicas = (264/1274)
rr_cronicas = (267/1273)/baseline_cronicas

baseline_vacinacao = (161/1000)
rr_vacinacao = (208/1000)/baseline_vacinacao

# Geometric mean
rr_media_geom_intervencoes = (rr_citopatologico * rr_cronicas * rr_vacinacao)**(1/3)

rr_media_geom_intervencoes

1.1539169730269216

In [133]:
# Estimated treatment effect in the control group

baseline_depressao = 30.8/100

mudanca_tratamento = (rr_media_geom_intervencoes * baseline_depressao) - baseline_depressao
mudanca_tratamento

0.047406427692291864

In [135]:
# Estimated total number of people in the interest group who would seek the medicine upon receiving the message (rounded down)
publico_atingido = total_depressivos * prop_cadastrados * (1-numero_invalido-numero_trocado) * mudanca_tratamento

print(f"""Estimativa do pÃºblico atingido: {round(publico_atingido):,}
Estimativa do percentual atingido dentre a populaÃ§Ã£o geral: {(publico_atingido/total_population_2019):.2%}
Estimativa do percentual atingido dentre a populaÃ§Ã£o adulta: {(publico_atingido/adult_population_2019):.2%}
""")

Estimativa do pÃºblico atingido: 73,749
Estimativa do percentual atingido dentre a populaÃ§Ã£o geral: 0.04%
Estimativa do percentual atingido dentre a populaÃ§Ã£o adulta: 0.05%